.autoFollowImageBorder-container {
  display: grid;
  margin: 0 auto;
  width: 90%;
  margin-top: 1em;
  color: #F0F0F0;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: center;
  position: relative;
}

.autoFollowImageBorder-pointer {
  display: none;
  --l: 30px;
  --t: 3px;
  --g: 15px;
  --s: 225px;
  --x: 0px;
  --y: 0px;
  position: absolute;
  width: calc(var(--s) + var(--g) * 2);
  height: calc(var(--s) + var(--g) * 2);
  border: var(--t) solid red;
  left: calc(var(--x) - var(--g));
  top: calc(var(--y) - var(--g));
  transition: 0.2s;
  -webkit-mask: conic-gradient(at var(--l) var(--l), transparent 75%, red 75% 100%) 0 0/calc(100% - var(--l)) calc(100% - var(--l)) repeat;
          mask: conic-gradient(at var(--l) var(--l), transparent 75%, red 75% 100%) 0 0/calc(100% - var(--l)) calc(100% - var(--l)) repeat;
}